<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css">

</head>

<body>
    <div class="paper container">

        <div id="header"></div>

        <div class="paper grid">
        </div>

        <div id="footer" class="paper">

        </div>
        <button id="playBtn">Play</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
<script src="scripts/main.js"></script>

</html>