.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    
  }
  
  .grid div {
    background-color: lightgray;
    border: .5px solid orchid;
  }
  
  .grid .active{
     background-color:lightskyblue;
  }
  
  .grid .correct{
     background-color: aquamarine;
  }
  
  .grid .wrong{
    background-color:red;
  }